<html>
    <body style="font-family: monospace">
        <p>
            Containers

            <ul>
                <%for (let container of model) { %>
                    <li>
                        <%=container.Names[0]=> (<%=container.Image %>) 
                        (<%=container.Status%>)
                        <a href="<%=paths.logs%>?id=<%=container.Id%>">View logs</a>
                        <%if (container.State !== "running") { %>
                            <a href="<%=paths.start%>?id=<%=container.Id%>">Start</a>
                        <%} else {%>
                            <a href="<%=paths.ls%>?id=<%=container.Id%>&path=/">Browse filesystem</a>
                        <%}%>
                    </li>
                <%}%>
            </ul>
        </p>
    </body>
</html>